dotnet/ZRAPI/ZipRecruiter/Subscribers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Subscribers" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="subscribers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="limit" type="xs:string" minOccurs="0" />
				<xs:element name="offset" type="xs:string" minOccurs="0" />
				<xs:element name="total_count" type="xs:string" minOccurs="0" />
				<xs:element name="results" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
